body{
    margin: 0;
    padding: 0; 
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

#root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif; 
}

body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background-color: #8BC6EC;
	border-radius: 5px;
	border: none;
}
/* Grid */
#main{
    width: 100%;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin-top: 50px;
    justify-items: center;
}

.header{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(at top left,#00DBDE 0%,#FC00FF 67%, transparent 67.5%);
    /* background-image: linear-gradient(to top,#1abc9c 50%,#3498db 50%); */
    background-size: 180% 100%;
    background-repeat: no-repeat;
    color: #EEE;
}

/* Header Nav */
.header__nav{
    display: flex;
    height: 10vh;
}

.header__logo{
    display: flex;
    height: 100%;
    width: 50%;
    margin-right: auto;
    align-items: center;
}

.logo{
    margin-left: 7%;
    height: 90%;
}

.header__menu{
    display: flex;
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}
.header__menu li a{
    text-decoration: none;
    font-size: 16px;
    color: #EEE;
}

.title{
    font-size: 100px;
    font-family: 'Fira Sans', sans-serif;
    color: #9F9F9F;
    text-align: center;
    font-weight: 100;
}

/* Header Img */
.header__mainContainer{
    height: 65vh;
    width: 100%;
    display: flex;
}

.header__imgContain{
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.header__imgContain-img{
    width: 60%;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15%;
}

    /* User statistics */
    
.header__infoUser{
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(1fr);    
    row-gap: 4px; 
    padding: 5px 20px 5px 5px;
}
.infoUser__Name{
    display: flex;
    align-items: center;
}
.userName{
    font-size: 35px;
}    

.infouser__Name-button{
    display: inline-block;
    background-color: #8BC6EC;
    height: 20px;
    width: 100px;
    padding: 10px 12px;
    border-radius: 5px;
    color: #FFF;
    margin-left: 25px;
    text-align: center;
    cursor: pointer;
}

.infoUser__Statistics{
    display:flex;
    width: 70%;
    justify-content: space-between;

    padding: 0;
    margin: 0;
}

.infoUser__Statistics-item{
    text-align: center;
}

.infoUser__Descript-p{
    max-width: 700px;
}

/* Cards  */

.cardContainer{
    width: 225px;
    height: 375px;  
    max-height: 375px;
    background-color: transparent;
    perspective: 500px;
}

.card{
    width: 100%;
    height: 100%;  
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: 'Fira Sans', sans-serif;
    position: relative;

    transform-style: preserve-3d;
    transition: transform .5s ease;
}

.cardFront,.cardBack{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card--flipped{
    transform: rotateY(180deg);
}

.cardBack{
    background-color: #44BFF4;
    border-radius: 20px;
    transform: rotateY(180deg); 
    display: grid;
    grid-template-columns: 60px 60px;
    grid-template-rows: 60px 60px;
    justify-content: center;
    grid-gap: 10px;
    align-content: center;
}

.card__header{
    width: 100%;
    height: 30%;
}

.img__container {
    width: 100%;
    height: 75%;
    position: relative;
}

.card__header-covimg{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card__header-profimg{
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(50%); 
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
} 

.card__body{
    padding: 10px;
    display: grid;
    gap: 20px;
    color: #4F4F4F;
    position: relative;
}

.card__bodyName{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__bodyName h6{
    font-size: 9px;
    font-weight: 200;
}

.card__body-statistics-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__body-statics{
    display: flex;
    justify-content: space-evenly;
}

.card__body-statistics-item{
    height: 100%;
    display: flex;
    text-align: center;
} 

.card__body-statistics-item h2{
    color: #44BFF4;
}

.card__body-button{
    background-color: rgb(255, 255, 5);
    align-self: center;
    height: 20px;
    text-align: center;
    padding: 6px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    cursor: pointer;
}

.card__body-text{
    font-size: 13px;
}

.back-item-imgCont{
    width: 60px;
    height: 60px;
}

.imgCont-cont{
    width: 100%;
    height: 100%;
}

/* Footer */
#footer{
    width: 100%;
}
.footer__container{
    margin-top: 5%;
    height: 150px;
    width: 100%;
    background-color: #44BFF4;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.footer__container ul{
    list-style: none;
}

.list__item{
    padding: 0;
}

.list__item a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Poppins', sans-serif; 
    font-size: 14px;
}

.list__item a:hover{
   text-decoration: underline;
}

.footer_icon{
    height: 70px;
    width: 70px;
    background-color: #44BFF4;
    border-radius: 50%;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    margin: auto;
    transform: translateY(-40%)
}

.footer_icon img{
    display: block;
    width: 60%;
    height: 60%;
    display: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform: translateY(30%)
}